.carouselContainer {
  :global {
    .carousel-control-prev {
      z-index: 5;
      background: rgba(130, 130, 130, 0);
      background: linear-gradient(to left, rgba(180, 180, 180, 0) 0%, rgba(90, 90, 90, 0.6) 100%);
    }

    .carousel-control-next {
      z-index: 5;
      background: rgba(130, 130, 130, 0);
      background: linear-gradient(to right, rgba(180, 180, 180, 0) 0%, rgba(90, 90, 90, 0.6) 100%);
    }

    .b-0 {
      bottom: 0;
    }
    .bg-shadow {
        z-index: 10;
        background: rgba(76, 76, 76, 0);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(180, 180, 180, 0)), color-stop(49%, rgba(70, 70, 70, 0.6)), color-stop(100%, rgba(30, 30, 30, 0.8)));
        background: linear-gradient(to bottom, rgba(180, 180, 180, 0) 0%, rgba(70, 70, 70, 0.6) 49%, rgba(30, 30, 30, 0.8) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
    }
    .top-indicator {
        right: 0;
        top: 1rem;
        bottom: inherit;
        left: inherit;
        margin-right: 1rem;
    }
    .overflow {
        position: relative;
        overflow: hidden;
    }
    .zoom img {
        transition: all 0.2s linear;
    }
    .zoom:hover img {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    
    /*
    .carousel-item{
      max-height: 350px;
    } 
    */
    .carousel-item img{
      max-height: 450px;
    }
  }
}